<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>新規投稿</title>
</head>
<body>
    <div class="header-contents">
        <h2>新規投稿</h2>
    </div>
    <div class="main-contents">
        <form method="post" action="/addMessage" th:object="${messageForm}">
            <!--エラーメッセージ-->
            <li class="errorMessages" th:each="error : ${#fields.detailedErrors()}" th:text="${error.message}"></li>
            <!--入力欄-->
            <label>件名</label>
            <textarea  th:field="*{title}" size="20" maxlength="200" /></textarea><br/>
            <label>本文</label>
            <textarea  th:field="*{text}" size="20" maxlength="1001" /></textarea><br/>
            <label>カテゴリ</label>
            <textarea  th:field="*{category}" size="20" maxlength="200" /></textarea><br/>
            <input type="submit" value="投稿" />
        </form>
    </div>
    <div class="footer-contents">
        <!--トップ画面に戻る-->
        <form action="/maron/">
            <input class="back" type="submit" value="戻る" />
        </form>
    </div>
</body>
</html>