<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/main.js}" charset="utf-8"></script>
</head>
<body>
<header>
    <nav>
    <ul>
        <li>
            <form action="/newMessage">
                <input type="submit" value="新規投稿" />
            </form>
        </li>
        <li th:if="${userManageButton}" >
            <form action="/user">
                <input type="submit" value="ユーザ管理">
            </form>
        </li>
        <li>
            <form action="/logout">
                <input type="submit" value="ログアウト" />
            </form>
        </li>
    </ul>
    </nav>
</header>
    <div class="main-contents">
<!--        絞り込み-->
        <div>
            <form action="/maron/">
                <label>
                    期限: <input type="date" name="start" th:value="${start}">～<input type="date" name="end" th:value="${end}">
                    カテゴリー: <input type="text" name="category" th:value="${category}">
                    <input type="submit" value="絞込">
                </label>
            </form>
        </div>
        <li class="errorMessages" th:each="message : ${管理者フィルターエラー}" th:text="${message}"></li>
<!--        投稿表示-->
        <h1>投稿</h1>
        <div class="messages" th:each="message:${messages}">
            <h2 th:text="${message.title}"></h2>
            <h3>投稿内容</h3>
                <p th:text="${message.text}" style="white-space: pre-line;"></p>
                <p>カテゴリー：<span th:text="${message.category}"></span></p>
                <p>投稿日時：<span th:text="${#dates.format(message.updatedDate,'yyyy/MM/dd')}"></span></p>
                <p>投稿者：<span th:text="${message.name}"></span></p>
                <div  class="deleteMessage">
                    <!--ログインユーザと投稿のUserIdが一致していたら表示-->
                    <form th:action="@{/deleteMessage/{id}(id=${message.id})}" th:method="delete" th:if="${loginUser.id == message.userId}">
                        <input type="hidden" name="messageUserId" th:value="${message.userId}">
                        <input type="submit" value="投稿の削除" />
                    </form>
                </div>
                <div class="comments" th:each="comment:${comments}" th:if="${comment.messageId == message.id}">
                    <h4>コメント</h4>
                    <p th:text="${comment.text}" style="white-space: pre-line;"></p>
                    <div  class="deleteComment">
    <!--                        ログインユーザとコメントのIdが一致していたら表示-->
                        <form th:action="@{/deleteComment/{id}(id=${comment.id})}" th:method="delete" th:if="${loginUser.id == comment.userId}">
                            <input type="submit" value="コメントの削除" />
                        </form>
                    </div>
                </div>
            <div class="comment">
                <!-- エラーメッセージ表示 -->
                <div class="errorMessages"  th:if="${commentErrors != null and commentErrorId.messageId == message.id}"
                     th:each="commentError : ${commentErrors}">
                    <span th:text="${commentError}"></span>
                </div>
                <form method="post" action="/addComment" th:object="${commentForm}">
                    <label>コメント投稿</label>
                    <textarea class="text-box" name="text" th:value="text" ></textarea><br/>
                        <input type="hidden" th:value="${message.id}" name="messageId"/>
                        <input type="submit" value="送信"/>
                </form>
            </div>
        </div>
    </div>
    <!--jQuery-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
<!--    <script src="/js/main.js"></script>-->
</body>
</html>