<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
    <title>ユーザー編集</title>
  </head>
  <body>
    <div class="header-contents">
      <h2>ユーザー編集</h2>
    </div>
    <div class="main-contents">
      <div class="errorMessages">
          <li th:each="error : ${errors}">
            <span th:text="${error}">Error message</span>
          </li>
      </div>
      <form class="user-form" th:action="@{/userUpdate/{id}(id=${user.id})}" th:method="post"  th:object="${user}">
      <div class="form-area">
        <label class="userLabel">アカウント：</label>
        <input th:field="*{account}" ><br/>
        <label class="userLabel">パスワード：</label>
          <input name="password" type="password"  th:field="*{password}" ><br/>
        <label class="userLabel">パスワード(確認用)：</label>
          <input  type="password"  th:field="*{anotherPassword}" ><br/>
        <label class="userLabel">氏名：</label>
          <input th:field="*{name}"><br/>
        <div th:if="${loginUser != user.id}">
        <label class="userLabel">配属支社：</label>
          <select class ="select-branch" th:field="*{branchId}">
            <option value="0">選択</option>
            <option value="1">本社</option>
            <option value="2">A支社</option>
            <option value="3">B支社</option>
            <option value="4">C支社</option>
          </select>
      <br/>
        <label class="userLabel">配属部署：</label>
          <select class ="select-department" th:field="*{departmentId}">
            <option value="0">選択</option>
            <option value="1">総務人事部</option>
            <option value="2">情報管理部</option>
            <option value="3">営業部</option>
            <option value="4">技術部</option>
          </select>
        </div>
        <div th:if="${loginUser == user.id}">
          <input type="hidden" name="branchId" th:value="*{branchId}">
          <input type="hidden" name="departmentId" th:value="*{departmentId}">
        </div>
      </br>
        <input type="hidden" name="isStopped" th:value="*{isStopped}">
        <input class="userSubmit" type="submit" value="更新" />
      </div>
      </form>
    </div>
<div class="footer-contents">
  <form action="/user">
    <input class="back" type="submit" value="戻る" />
  </form>
</div>
</body>
</html>