<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/main.js}" charset="utf-8"></script>
    <title>ユーザー管理</title>
</head>
<body>
    <div class="header-contents">
        <h1>ユーザー管理画面</h1>
    </div>
    <div class="errorMessages">
        <ul>
            <li th:each="error : ${#fields.detailedErrors()}">
                <span th:text="${error.message}">Error message</span>
            </li>
        </ul>
    </div>
<div class="main-contents">
    <!--エラーメッセージ表示-->
    <div class="errorMessages" th:each="message : ${message}" th:text="${message}"></div>
    <!--新規登録ボタン-->
    <a href="/SignUp">
        <button class="new-button" type="button">ユーザー新規登録</button>
    </a>
    <div class = "user-tag">
        <ul class ="tag-list">
            <li class ="account">アカウント名</li>
            <li class ="user-name">氏名</li>
            <li class ="branch">支社</li>
            <li class ="department">部署</li>
            <li class ="status">ステータス</li>
            <li class ="edit"></li>
        </ul>
    </div>
    <!--社員一覧-->
    <div class="user-icon"  th:each="user : ${users}">
        <ul class="user-list">
            <li class ="account" th:text="${user.account}"/></li>
            <li class ="user-name" th:text="${user.name}"/></li>
            <li class ="branch" th:text="${user.branchName}"/></li>
            <li class ="department" th:text="${user.departmentName}"/></li>
            <li class ="status">
                <form th:action="@{/updateStatus/{id}(id=${user.id})}" th:method="put">
<!--            <div class ="status-color" th:if="${user.isStopped == 1}" style="background-color:#ffee99;">-->
                    <select name ="status">
                        <option  th:each="map : ${changeStatus}"
                         th:value="${map.key}"
                         th:text="${map.value}"
                         th:selected="${map.key == user.isStopped}">
                        </option>
                    </select>
<!--            </div>-->
                <input type="submit" value="変更" class="変更">
                </form>
            </li>
        <!--編集・削除-->
            <li>
        <div class="edit-button">
            <a th:href="@{/userEdit/{id}(id=${user.id})}">
                <input type="button" value="編集">
            </a>
        </div>
            </li>
        </ul>
    </div>
</div>

<!--jQuery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>